.notify-wp {
    padding: 0 8px;

    .notify-header {
        display        : flex;
        justify-content: space-between;
        padding        : 6px 0;

        span {
            color    : #111;
            font-size: 13px;
        }

        button {
            border          : none;
            outline         : none;
            color           : #6b77e4;
            background-color: transparent;
        }

        border-bottom: 1px solid #eee;
    }

    .notify-body {
        padding   : 10px 0;
        max-height: 380px;
        max-width : 378px;
        overflow  : auto;

        .item {
            display      : flex;
            gap          : 10px;
            padding      : 6px 0;
            padding-right: 10px;

            &:hover {
                cursor: pointer;

                h4 {
                    color: #ee4d2d
                }
            }

            img {
                width     : 40px;
                height    : 40px;
                border    : 4px;
                object-fit: cover;
            }

            h4 {
                font-size    : 15px;
                padding      : 0;
                margin       : 0;
                margin-bottom: 4px;
            }

            p {
                padding           : 0;
                margin            : 0;
                margin-bottom     : 4px;
                font-size         : 13px;
                display           : -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                overflow          : hidden;
            }

            span {
                color    : #ccc;
                font-size: 12px;
            }
        }
    }

    .notify-footer {
        display        : flex;
        justify-content: center;
        align-items    : center;
        border-top     : 1px solid #eee;
        padding-top    : 8px;

        a {
            text-decoration: none;
        }
    }
}